.demo-card-event.mdl-card {
	background: #3E4EB8;
}
.demo-card-event > .mdl-card__actions {
	border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
	align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
	margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
	display: flex;
	box-sizing:border-box;
	align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
	padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
	color: #fff;
}


.mdl-card__supporting-text h2 {
    line-height: 2;
    font-size: 1.6em;
    padding: 0;
    margin: 0;
}

.mdl-card__supporting-text {
    padding: 0 20px;
}

.mdl-card__supporting-text h4 {
    line-height: 1;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.mdl-card__supporting-text h6 {
    line-height: 1.4;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    font-size: 1em;
}